.properties-filter-container {
  display: flex;
}

a {
  color: black;
  text-decoration: none;
}

.banner-container {
  height: 40vh;
  text-align: center;
  padding-top: 5em;
}

.properties-container {
  display: flex;
}
